:root {
  --main-bg-color: #FFFFFF;
  --filter-bg-color: #DEEBFF;
  --main-color: #000000;
  --max-width: 1440px;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.fa-solid {
  color: #353535;
}

.main-container {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--padding-horizontal);
  box-sizing: border-box;
  height: 1500px;
  background-color: #F6F6F6;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
}

header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 30px;
  height: 44px;
  background-color: #FFFFFF;
}
header .logo {
  display: flex;
  width: -moz-max-content;
  width: max-content;
}
header .logo img {
  height: 36px;
  width: 197px;
}

.Rechercher {
  display: flex;
  position: relative;
  bottom: 3px;
  left: 20px;
  font-size: 18px;
}

.iconerecherche {
  display: none;
}

#site-search {
  display: flex;
  height: 49px;
  width: 100vw;
  border: 1px solid transparent;
  font-size: 16px;
  color: #353535;
  background: #EAEAEA;
  box-shadow: 1px 0px 4px grey;
  font-weight: 500;
  text-align: center;
}

.Icone {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 25px;
  right: 70px;
}

/****** HEAD ***********/
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding-top: 20px;
}

.p1 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.button {
  justify-content: center;
  display: flex;
  border-radius: 25px;
  padding-top: 20px;
}
.button .buttonEco {
  border: 0px solid transparent;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.8505777311) 46%, rgb(255, 121, 218) 100%);
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 1px 4px 10px gray;
}
.button .Text-eco {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: var(--main-bg-color);
  justify-content: center;
}

.section2 {
  display: flex;
  margin-top: 80px;
  background-color: #FFFFFF;
  height: 440px;
  padding-left: 20px;
  flex-direction: column;
}
.section2 .title2 {
  width: 275px;
  height: 31px;
}

.BTNS {
  margin-top: -20px;
  padding-right: 20px;
}

.step {
  display: flex;
  align-items: center;
  margin: 30px 0;
  border-radius: 15px;
  background-color: #f5f5f5;
  width: auto;
  height: 72px;
  box-shadow: 2px 2px 10px gray;
}

.btn1 {
  display: flex;
  position: absolute;
  left: 10px;
}
.btn1 .fi-sr-circle-1 {
  color: #9356DC;
}

.btn2 {
  display: flex;
  position: absolute;
  left: 10px;
}
.btn2 .fi-sr-circle-2 {
  color: #9356DC;
}

.btn3 {
  display: flex;
  position: absolute;
  left: 10px;
}
.btn3 .fi-sr-circle-3 {
  color: #9356DC;
}

.icon-container {
  display: flex;
  position: relative;
  right: 20px;
  top: 15px;
}

.fa-mobile-screen-button, .fa-bar, .fa-store {
  font-size: 20px;
}

.text-container {
  display: flex;
  width: 50vw;
  flex-grow: 1;
  justify-content: center;
}

.fa-store {
  color: #9356DC;
}

.fa-bars {
  position: relative;
  top: 3px;
}

.fa-mobile-screen-button {
  position: relative;
  left: 7px;
}/*# sourceMappingURL=style.css.map */