$color_1: #000000;
$color_2: inherit;
$color_3: #F6F6F6;
$color_4: #99E2D0;
$color_5: #EAEAEA;
$color_6: #353535;
$color_7: #9356DC;
$color_8: #008766;
$color_9: #FFFFFF;


.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

$font-family_1: 'Roboto', sans-serif;

* {
	font-family: $font-family_1;
}

/* Masquer la flèche gauche */
.fa-arrow-left {
    display: none;
}

.main {
    display: flex;
    flex-grow: 1;
} 

body {
	margin: 0;
}

/* Loader */
.loader {
    background: $color_5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none; // Le loader ne prends pas en compte le pointeur de la souris
    animation: fadeInUp 1s forwards 1s;
}

/* Couleur + rotation */
.loaderanim {
    border: 16px solid $color_9;
    border-top: 16px solid $color_6;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

.tilo {
   position: absolute;
    color: $color_6;
}

/* Animation spin (rotation) */
@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/* Animation faceInUp vers le haut - loader disparait vers le haut */
@keyframes fadeInUp {
    80% {transform: translateY(-100%);}
    100% {opacity: 0;}
}

.fa-solid {
	color: $color_6;;
}

.main-container {
	width: 100%;
    height: 1400px;
    background-color: $color_3;
}

a {
	color: $color_2;
	text-decoration: none;
}

nav {
	display: flex;
}

header {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 30px;
    height: 44px;
    background-color: $color_9;

    .logo {
	    display: flex;
	    width: max-content;

	        img { 
                height: 36px;
  				width: 197px;
            }
    } 
}

/* barre de recherche */
#site-search {
    display: flex;
    height: 49px;
    width: 100vw;
    border: 1px solid transparent;
    font-size: 16px;
    color: $color_6;
    background: $color_5;
    font-weight: 500;
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
  }
  
/* Centrer le texte dans l'input */
  .search-bar input {
    text-align: center;
  }

.Icone {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px;
    right: 80px; 
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-top: 20px;
}


.p1 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.button {
    justify-content: center;
    display: flex;
    border-radius: 25px;
    padding-top: 20px;

    .buttonexplore {
        background: linear-gradient(360deg, rgba(151,71,255,1) -40%, rgba(228,112,218,1) 65%);
        width: 218px;
        height: 50px;
        border-radius: 25px;
        transition: all 0.7s ease;
        box-shadow: 0px 5px 5px lightgray;
    }

    /* Styles pour le bouton d'exploration au survol */
    .buttonexplore:hover {
        background: linear-gradient(360deg, rgba(151,71,255,1) -40%, rgba(228,112,218,1) 65%);
        opacity: 0.8;
        box-shadow: 0px 10px 10px lightgray;
        }
    
        .Text-ex {
            display: flex;
            font-size: 16px;
            font-weight: 500;
            color: $color_9;
            justify-content: center;
        }
}   

.section2 {
    display: flex;
    margin-top: 80px;
    background-color: $color_9;
    height: 440px;
    padding-left: 20px;
    flex-direction: column;

    .title2 {
        width: 275px;
        height: 31px;
        margin-top: 40px;
    }
    
    .BTNS {
        margin-top: -20px;
        padding-right: 20px;
    }

.step {
        display: flex;
        align-items: center;
        margin: 30px 10px;
        border-radius: 15px;
        background-color: #f5f5f5;
        width: auto;
        height: 72px;
        box-shadow: 4px 4px 10px lightgray;    
    }
    
.icon-container {
        display: flex;
        align-items: center;
        padding-right: 20px;
      }
      
.fa-mobile-screen-button, .fa-bar , .fa-store {
        font-size: 20px;
      }
      
.text-container {
        display: flex;
        width: 50vw;
        flex-grow: 1;
        justify-content: center;
      }

.fa-store {
        color: $color_7;
    }

.fa-mobile-screen-button {
    margin-left: 15px;
}
}

.btn1 {
    display: flex;
    width: 0px;
    justify-content: center;
    
    .fi-sr-circle-1 {
        color: $color_7;
    }
}

.btn2 {
    display: flex;
    width: 0px;
    justify-content: center;

    .fi-sr-circle-2 {
        color: $color_7;
    }
}

.btn3 {
    display: flex;
    width: 0px;
    justify-content: center;
            
    .fi-sr-circle-3 {
        color: $color_7;
    }
}

.section3 {
    display: flex;
    margin-top: 30px;
    height: 440px;
    padding-left: 20px;
    flex-direction: column;


    .card1 {
        background-color: $color_9;
        height: 251px;
        border-radius: 20px;
        margin-right: 20px;
    }
    
    .restau-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        padding-top: 15px;
        padding-left: 15px;
        
    }

    h3 {
    font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        margin: 0;
    }
}
    
    .restau-cards img {
        object-fit: cover;
        width: 100%;
        height: 160px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .restau-cards .card-title1 {
    margin-top: 10px;
    margin-bottom: 4px;
    }
    
    .restau-cards .card-subtitle1 {
        display: flex;
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        margin-top: 5px;
        top: -20px;
        position: relative;
        width: 150px;
    }
    
    .restau-cards .card-love1 {
        display: flex;
        justify-content: end;
        padding-right: 20px;
    }

    .restaurants {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .heart-checkbox {
        display: none; /* checkbox caché */
    }

    .heart-label {
        position: relative;
        font-size: 24px;
        cursor: pointer;
        transition: color 0.3s;
    }

    /* Styles pour l'icône de la case à cocher "j'aime" */
    .heart-label::before {
        content: '\f004'; /* unicode du cœur Font Awesome */
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        position: absolute;
        top: 2px;
        color: transparent; /* couleur du cœur vide */
        transition: color 0.3s;
    }

    /* Styles pour la case à cocher "j'aime" cochée */
    .heart-checkbox:checked + .heart-label::before {
        background: linear-gradient(180deg, rgba(151,71,255,1) 0%, rgba(228,112,218,1) 100%);
        /* applique le dégrader de couleur juste coeur quand checkbox est cochée */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .heart-checkbox:checked + .heart-label::after {
        clip-path: inset(0 0 0 0); /* controler affichage du pseudo-élément quand la checkbox est coché / modif ce qui est visible */
 }

.title3 {
    width: 235px;
    height: 31px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
}

.carre {
    width: 80px;
    height: 29px;
    background-color: $color_4;
    display: flex;
    position: absolute;
    right: 30px;
    z-index: 10;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 4px 2px transparent;
}

.nv {
    margin-top: 6px;
    margin-left: 10px;
    color: $color_8;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.carres {
    width: 80px;
    height: 29px;
    background-color: $color_4;
    display: flex;
    position: absolute;
    right: 30px;
    z-index: 10;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 4px 2px transparent;
}

.nvs {
    margin-top: 6px;
    margin-left: 10px;
    color: $color_8;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

footer {
    background-color: $color_6;
    margin-top: 770px;
    height: 200px;

    .logoF {
        display: flex;
        width: max-content;
    
                img { 
                    height: 27px;
                      width: 100px;
                    padding-top: 20px;
                }
    }
    
    .liste1 {
        display: flex;
       color: $color_5;
       padding-left: 30px;
       font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      flex-direction: column;
    }

    .marg {
        margin-bottom: 0px;
    }
    
    .fa-utensils {
       color: $color_3;
       padding-right: 5px;
    }
    
    .fa-handshake-angle {
        color: $color_3;
        padding-right: 5px;
    }
}

@media (min-width: 1024px) {

    .section2 {
        display: flex;
        align-items: center;
        height: 240px;
    
        .BTNS {
            display: flex;
            justify-content: center;
        }
    
        .step {
            width: 322px;
            margin-right: 20px;
            height: 72px;
        }

    .title2 {
        padding-right: 800px;
}

}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .restaurants {
        display: grid;
        grid-template-columns: repeat(2, 500px);
        gap: 60px;
        justify-content: center;
    }

    .restau-cards {
        width: 490px;
    }

    .card1 {
        width: 490px;
    }

    .title3 {
        padding-right: 860px;
        position: relative;
        top: -20px;
    }
}

.carre {
    margin-left: 390px;
    right: auto;
}

.carres {
    margin-left: 390px;
    right: auto;
}

footer {
    width: 100%;
    height: 114px;
    margin: 240px auto 0 auto; // Ajuster la marge pour éviter l'espace blanc

    .liste1 {
        padding-right: 140px;
        flex-direction: row;
        justify-content: end;
        bottom: 50px;
        position: relative;
    }

    .marg {
        padding-top: 90px;
        margin-right: 20px;
}

    .logoF {
        width: max-content;
        position: relative;
        left: 700px;
        top: 75px;
        height: 80px;
    }

}

}