$color_1: #000000;
$color_2: inherit;
$color_3: #F6F6F6;
$color_4: #99E2D0;
$color_5: #EAEAEA;
$color_6: #353535;
$color_7: #DEEBFF;
$color_8: #FFFFFF;


$font-family_1: 'Roboto', sans-serif;

* {
	font-family: $font-family_1;
}

h1 , h2 , h3 {
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 28px;
        line-height: 40px;
} 

body {
	margin: 0;
}

/* fond gris arrondi comme pour faire une carte de restaurant */
.main-container {
	width: 100%;
    background-color: $color_3;
    margin-top: -80px;
    z-index: 1;
    position: relative;
    border-radius: 50px 50px 0px 0px;
    height: 1300px;
}

/* header +logo */
header {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 30px;
    height: 44px;
    background-color: $color_8;

    .logo {
	    display: flex;
	    width: max-content;

	        img { 
                height: 36px;
  				width: 197px;
            }
    } 
}

/* nav + flèche retour */
nav {
    padding-top: 10px;
    display: flex;
    position: absolute;
    left: 30px;

    .fa-arrow-left {
        color: $color_1;
        width: 30px;
        height: 50px;
        align-content: baseline;
    } 
    
} 

/* image de fond */
.background {
    display: flex;

    img {
    width: 100vw;
    height: 275px;
    object-fit: cover;
}
}

/* titre + coeur */
.t1 {
    padding-top: 15px;

    .card-love1 {
        display: flex;
        padding-left: 22px;

        .fa-heart {
            padding-top: 35px;
            padding-left: 20px;
            font-size: 27px;
        }
    }
  }

.heart-checkbox {
    display: none; /* checkbox caché */
}

.heart-label {
    position: relative;
    font-size: 27px;
    cursor: pointer; /* modif forme souris quand on passe dessus */
}

/* Styles pour l'icône de la case à cocher "j'aime" */
.heart-label::before {
    content: '\f004'; /* unicode du cœur Font Awesome */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 22px;
    left: 20px;
    color: transparent; /* couleur du cœur vide */
}

 /* Style pour la case à cocher "j'aime" cochée */
.heart-checkbox:checked + .heart-label::before {
    background: linear-gradient(180deg, rgba(151,71,255,1) 0%, rgba(228,112,218,1) 100%);
    /* applique le dégrader de couleur juste coeur quand checkbox est cochée */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* texte "entrées" + souligné vert */
.pe {
    width: 70px;
    display: flex;
    padding-left: 17px;

    .entre { 
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        border-bottom: 3px solid $color_4;
        padding-bottom: 8px;
        width: 40px;
    }
}

 /* animation d'apparition */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

 /* animation des groupes "entrées" , "plats", "desserts" */
.groupe {
    opacity: 0;
    animation: fadeInUp 0.7s ease forwards;

}
.E {
    animation-delay: 0.3s; /* délais d'animation */
}

.P {
    animation-delay: 1s; /* délais d'animation */
}

.D {
    animation-delay: 1.7s; /* délais d'animation */
}

.euro {
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    position: absolute;
    right: 10px;
    transform: translateY(30%);
  }  

  .prix {
    display: flex;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }

/* conteneurs */
.contain , .contain3 , .contain4 {
    display: flex;
  flex-direction: column;
  margin-top: 15px;
}

/* Partie "entrées" */
.section2 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

/* style texte + couleur carte */
.step {
        display: flex;
        align-items: center;
        border-radius: 15px;
        height: 69px;
        box-shadow: 0px 0px 10px lightgray;    
        margin-bottom: 20px;
    }

    .es {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    
    .p {
        font-size: 15px;
        font-weight: 300;
        line-height: 17px;
        padding-left: 20px;
        position: relative;
        bottom: 15px;
    }
}

/* permet au texte de disparaitre pour ne pas se surperposer */
.checkbox:checked + .menu-label .es,
.checkbox:checked + .menu-label .p {
    width: calc(80% - 75px); /* Définis la largeur de l'élément */ 
    overflow: hidden; /* Masque le contenu qui dépasse la zone définie */ 
    white-space: nowrap; /* Empêche le texte d'être sur plusieurs lignes */ 
    text-overflow: ellipsis; /* Affiche "..." pour indiquer que le texte déborde */
}

/* checkbox des plats */
.checkbox {
    display: none;
}

.menu-label {
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden; /* Cache les autres sélecteur de plat */
}

/* Sélecteur de plat */
.marque-verif {
    position: absolute;
    width: 59px;
    height: 69px;
    background-color: #6fd1b9;
    border-radius: 0px 15px 15px 0px;
    transform: translateX(100%); /* Déplace l'élément à droite */ 
    transition: transform 0.3s ease; /* Transition + fluide */ 
    bottom: -35px;
}

/* Sélecteur de plat se déplace pour être visible */ 
.checkbox:checked + .menu-label .marque-verif {
    transform: translateX(0%);
    visibility: visible;
}

/* Le prix se déplace vers la gauche */ 
.checkbox:checked + .menu-label .prix {
    transform: translateX(-48px);
}


.fa-circle-check{
    color: $color_8;
    position: relative;
    top: 25px;
    left: 20px;
}

/* Partie "Plats" */ 
.section3 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

/* style texte + couleur carte */
.step3 {
        display: flex;
        align-items: center;
        border-radius: 15px;
        height: 69px;
        box-shadow: 0px 0px 10px lightgray;     
        margin-bottom: 20px;
    }

    .ps3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    
    .p3 {
        font-size: 15px;
        font-weight: 300;
        line-height: 17px;
        padding-left: 20px;
        position: relative;
        bottom: 15px;
    }
}

/* permet au texte de disparaitre pour ne pas se surperposer */
.checkbox:checked + .menu-label .ps3,
.checkbox:checked + .menu-label .p3 {
    width: calc(80% - 75px); /* Définis la largeur de l'élément */ 
    overflow: hidden; /* Masque le contenu qui dépasse la zone définie */ 
    white-space: nowrap; /* Empêche le texte d'être sur plusieurs lignes */ 
    text-overflow: ellipsis; /* Affiche "..." pour indiquer que le texte déborde */ 
}

/* texte "plats" + souligné vert */
.pp {
    width: 70px;
    display: flex;
    padding-left: 17px;

    .plats { 
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        border-bottom: 3px solid $color_4;
        padding-bottom: 8px;
        width: 40px;
    }
}

/* Partie dessert */
.section4 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

/* style texte + couleur carte */    
.step4 {
        display: flex;
        align-items: center;
        border-radius: 15px;
        height: 69px;
        box-shadow: 0px 0px 10px lightgray;   
        margin-bottom: 20px;
    }

    .ds4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    
    .d4 {
        font-size: 15px;
        font-weight: 300;
        line-height: 17px;
        padding-left: 20px;
        position: relative;
        bottom: 15px;
    }
}

/* permet au texte de disparaitre pour ne pas se surperposer */
.checkbox:checked + .menu-label .ds4,
.checkbox:checked + .menu-label .d4 {
    width: calc(80% - 75px); /* Définis la largeur de l'élément */ 
    overflow: hidden; /* Masque le contenu qui dépasse la zone définie */ 
    white-space: nowrap; /* Empêche le texte d'être sur plusieurs lignes */ 
    text-overflow: ellipsis; /* Affiche "..." pour indiquer que le texte déborde */ 
}

/* texte "desserts" + souligné vert */
.dp {
    width: 70px;
    display: flex;
    padding-left: 17px;
    
    .desserts { 
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        border-bottom: 3px solid $color_4;
        padding-bottom: 8px;
        width: 40px;
    }
}

/* bouton commande */
.button {
    justify-content: center;
    display: flex;
    border-radius: 25px;
    padding-top: 20px;

     /* transition : souris sur le bouton : ombre + couleur transitionne maniere fluide */
    .buttoncomm {    
        border: 0px solid transparent;
        background: rgb(147,86,220);
        background: linear-gradient(360deg, rgba(151,71,255,1) -40%, rgba(228,112,218,1) 65%);
        width: 218px;
        height: 50px;
        border-radius: 25px;
        transition: all 0.7s ease;
        box-shadow: 0px 5px 5px lightgray;
        text-decoration: none;
        }
 /* Style bouton au survol */
    .buttoncomm:hover {
        background: linear-gradient(360deg, rgba(151,71,255,1) -40%, rgba(228,112,218,1) 65%);
        opacity: 0.8;
        box-shadow: 0px 10px 10px lightgray;
        }
    
    .Text-com {
        display: flex;
        font-size: 16px;
        font-weight: 500;
        color: $color_8;
        justify-content: center;
    }
    
}

a { 
   text-decoration: none;
   color: $color_5;
}

/* footer en colonne */
footer {
    background-color: $color_6;
    height: 200px;
    width: 100%;
    z-index: 1;

    .logoF {
        display: flex;
        width: max-content;
    
                img { 
                    height: 27px;
                      width: 100px;
                    padding-top: 20px;
                }
    }
    
    .liste1 {
        display: flex;
       color: $color_5;
       padding-left: 30px;
       font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      flex-direction: column;
    }

    .marg {
        margin-bottom: 0px;
    }
    
    .fa-utensils {
       color: $color_7;
       padding-right: 5px;
    }
    
    .fa-handshake-angle {
        color: $color_7;
        padding-right: 5px;
     }
}

/* Version PC */
@media (min-width: 1024px) {

    /* fond gris arrondi comme pour faire une carte de restaurant */
    .main-container { 
        width: 50%;
        padding-left: 100px;
        padding-right: 100px;
        margin: -80px auto 0 auto;
        height: 1300px;
    }
    
    /* titre au millieu */
    .card-love1 {
        justify-content: center;
    }
    
    .euro {
      right: 140px;
    }
    
    /* footer en ligne */
    footer {
        width: 100%;
        height: 125px;
    
    
        .liste1 {
            padding-right: 140px;
            flex-direction: row;
            justify-content: end;
            bottom: 50px;
            position: relative;
        }
    
        .marg {
            padding-top: 100px;
            margin-right: 20px;
    }
    
    .logoF {
        width: max-content;
        position: relative;
        left: 700px;
        top: 75px;
        height: 80px;
    }

    img {
        padding-top: 30px;
    }
    
}
       
}

/* Version Tablette */
@media (min-width: 440px) , (max-width: 1023px) {
    
    /* Titre au milieu */
    .card-love1 {
        justify-content: center;
    }
}