$color_1: #000000;
$color_2: inherit;
$color_3: #F6F6F6;
$color_4: #99E2D0;
$color_5: #EAEAEA;
$color_6: #353535;
$color_7: #DEEBFF;
$color_8: #FFFFFF;

$font-family_1: 'Roboto', sans-serif;

* {
	font-family: $font-family_1;
}

h1 , h2 , h3 {
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 28px;
        line-height: 40px;
} 



body {
	margin: 0;
}

.main-container {
	width: 100%;
    background-color: $color_3;
    margin-top: -80px;
    z-index: 1;
    position: relative;
    border-radius: 50px 50px 0px 0px;
    height: 1200px;
}

header {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 30px;
    height: 44px;
    background-color: $color_8;

    .logo {
        display: flex;
        width: max-content;

	        img { 
                height: 36px;
  				width: 197px;
            }
    } 
}

nav {
    padding-top: 10px;
    display: flex;
    position: absolute;
    left: 30px;

    .fa-arrow-left {
        color: $color_1;
        width: 30px;
        height: 50px;
        align-content: baseline;
    } 
    
} 

.background {
    display: flex;

    img {
    width: 100vw;
    height: 275px;
    object-fit: cover;
}
}

.t1 {
    padding-top: 15px;

    .card-love1 {
        display: flex;
        padding-left: 17px;

        .fa-heart {
            padding-top: 35px;
            padding-left: 20px;
            font-size: 27px;
        }
    }
  }

   .heart-checkbox {
       display: none; /* checkbox caché */
   }

   .heart-label {
       position: relative;
       font-size: 27px;
       cursor: pointer;
       transition: color 0.3s;
   }

   .heart-label::before {
    content: '\f004'; /* unicode du cœur Font Awesome */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 22px;
    left: 20px;
    color: transparent; /* couleur du cœur vide */
    transition: color 0.3s;
}

   .heart-checkbox:checked + .heart-label::before {
        background: linear-gradient(180deg, rgba(151,71,255,1) 0%, rgba(228,112,218,1) 100%);

         /* applique le dégrader de couleur juste coeur quand checkbox est cochée */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
   }

   .heart-checkbox:checked + .heart-label::after {
       clip-path: inset(0 0 0 0); /* controler affichage du pseudo-élément quand la checkbox est coché / modif ce qui est visible */
}

.pe {
    width: 70px;
    display: flex;
    padding-left: 17px;

    .entre { 
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        border-bottom: 3px solid $color_4;
        padding-bottom: 8px;
        width: 40px;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.groupe {
    opacity: 0;
    animation: fadeInUp 0.7s ease forwards;

}
.E {
    animation-delay: 0.3s;
}

.P {
    animation-delay: 1s;
}

.D {
    animation-delay: 1.7s;
}

.section2 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

.step {
        display: flex;
        align-items: center;
        border-radius: 15px;
        width: auto;
        height: 69px;
        box-shadow: 0px 0px 10px lightgray;    
        margin-bottom: 20px;
    }

    .es {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        padding-left: 20px;
        padding-bottom: 5px;
    }
    
    .p {
        font-size: 15px;
        font-weight: 300;
        line-height: 17px;
        padding-left: 20px;
    }
}

.euro {
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  position: relative;
  left: 95%;
}

.prix {
    display: flex;
    position: relative;
    bottom: 16px;
    right: 40px;
    transition: transform 0.3s ease;
  }

.contain , .contain3 , .contain4 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.checkbox {
    display: none;
}

.menu-label {
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.marque-verif {
    position: absolute;
    right: -75px;
    width: 59px;
    height: 69px;
    background-color: #6fd1b9;
    border-radius: 0px 15px 15px 0px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    bottom: -13.5px;
}

.checkbox:checked + .menu-label .marque-verif {
    transform: translateX(0%);
    visibility: visible;
}

.checkbox:checked + .menu-label .prix {
    transform: translateX(-35px);
}

// permet au texte de disparaitre pour ne pas se surperposer
.checkbox:checked + .menu-label .es,
.checkbox:checked + .menu-label .p {
  width: calc(80% - 75px); 
  overflow: hidden;
  white-space: nowrap;
}

.fa-circle-check{
    color: $color_8;
    position: relative;
    top: 25px;
    left: 20px;
}

.section3 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

.step3 {
        display: flex;
        align-items: center;
        border-radius: 15px;
        width: auto;
        height: 69px;
        box-shadow: 0px 0px 10px lightgray;    
        margin-bottom: 20px;
    }

    .ps3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        padding-left: 20px;
        padding-bottom: 5px;
    }
    
    .p3 {
        font-size: 15px;
        font-weight: 300;
        line-height: 17px;
        padding-left: 20px;
    }
}
// permet au texte de disparaitre pour ne pas se surperposer
.checkbox:checked + .menu-label .ps3,
.checkbox:checked + .menu-label .p3 {
  width: calc(80% - 75px); 
  overflow: hidden;
  white-space: nowrap;
}

.pp {
    width: 70px;
    display: flex;
    padding-left: 17px;

    .plats { 
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        border-bottom: 3px solid $color_4;
        padding-bottom: 8px;
        width: 40px;
    }
}

.section4 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

.step4 {
        display: flex;
        align-items: center;
        border-radius: 15px;
        width: auto;
        height: 69px;
        box-shadow: 0px 0px 10px lightgray;     
        margin-bottom: 20px;
    }

    .ds4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        padding-left: 20px;
        padding-bottom: 5px;
    }
    
    .d4 {
        font-size: 15px;
        font-weight: 300;
        line-height: 17px;
        padding-left: 20px;
    }
}

// permet au texte de disparaitre pour ne pas se surperposer
.checkbox:checked + .menu-label .ds4,
.checkbox:checked + .menu-label .d4 {
  width: calc(80% - 75px); 
  overflow: hidden;
  white-space: nowrap;
}

.dp {
    width: 70px;
    display: flex;
    padding-left: 17px;
    
    .desserts { 
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        border-bottom: 3px solid $color_4;
        padding-bottom: 8px;
        width: 40px;
    }
}

.button {
    justify-content: center;
    display: flex;
    border-radius: 25px;
    padding-top: 20px;

    .buttoncomm {    
        border: 0px solid transparent;
        background: linear-gradient(360deg, rgba(151,71,255,1) -40%, rgba(228,112,218,1) 65%);
        width: 218px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 5px 5px lightgray;
        transition: all 0.7s ease;
        text-decoration: none;
        }

        .buttoncomm:hover {
            background: linear-gradient(360deg, rgba(151,71,255,1) -40%, rgba(228,112,218,1) 65%);
            opacity: 0.8;
            box-shadow: 0px 10px 10px lightgray;
            }
    
        .Text-com {
            display: flex;
            font-size: 16px;
            font-weight: 500;
            color: $color_8;
            justify-content: center;
        }
}

    
a { 
   text-decoration: none;
   color: $color_5;
}

footer {
        background-color: $color_6;
        height: 200px;
        width: 100%;
        z-index: 1;

    .logoF {
        display: flex;
        width: max-content;
    
                img { 
                    height: 27px;
                      width: 100px;
                    padding-top: 20px;
                }
    }
    
    .liste1 {
        display: flex;
       color: $color_5;
       padding-left: 30px;
       font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      flex-direction: column;
    }

    .marg {
        margin-bottom: 0px;
    }
    
    .fa-utensils {
       color: $color_7;
       padding-right: 5px;
    }
    
    .fa-handshake-angle {
        color: $color_7;
        padding-right: 5px;
     }
}

@media (min-width: 1024px) {

.main-container { 
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;
    margin: -80px auto 0 auto;
}

.card-love1 {
    justify-content: center;
}

footer {
    width: 100%;
    height: 149px;

    .liste1 {
        padding-right: 140px;
        flex-direction: row;
        justify-content: end;
        bottom: 50px;
        position: relative;
    }

    .marg {
        padding-top: 90px;
        margin-right: 20px;
}

    .logoF {
        width: max-content;
        position: relative;
        left: 700px;
        top: 75px;
    }

}


}